<div class="container">
    {{#each model as |post|}}
    <div class="blog-posts">
        <div class="row post-container">
            <div class="col-md-5 blog-posts--left-side">
                <div class="image-container">
                    {{#link-to "post" post.id}}
                    <img class="pointer" width=100% src="/assets/images/{{post.coverphoto}}.jpg"> {{/link-to}}
                </div>
            </div>
            <div class="col-md-7 blog-posts--right-side">
                <div class="blog-posts--content flex-center-vertically">
                    <div class="blog-posts--line-heading">
                        <span>{{post.date}} / {{post.category}}</span>
                    </div>
                    <div class="title">{{post.title}}</div>
                    <div class="article" innerHTML={{truncate-text post.content limit=350}}></div>
                    {{#link-to "post" post.id}}
                    <button class="full-post">See Full Post</button>
                    {{/link-to}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>