<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="post">
                <div class="post--line-heading">
                    <span>{{model.date}} / {{model.category}}</span>
                </div>
                <div class="post--title">
                    {{model.title}}
                </div>
                <div class="post--content" innerHTML={{model.content}}></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="post--line-heading">
                <span>Other Posts</span>
            </div>
            <div class="row">
                {{!-- {{#each model.posts as |post|}}
                    <div class="col-md-6 post--feed">
                        <img class="post--feed-image" src="/assets/images/post{{post}}.jpg">
                    </div>
                {{/each}} --}}
            </div>
        </div>
    </div>
</div>